:root {
  --primary-color: #8971d0;
  --secondary-color: #adf7d1;
  --box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.8);
}
body {
  margin: 60px auto;
  max-width: 800px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}
h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}
p {
  background: var(--secondary-color);
  padding: 10px;
  border-radius: 5px;
  line-height: 1.5;
  text-align: center;
}

.page-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.page-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-me {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.about-me {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.home-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.email {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email:hover {
  text-decoration: underline;
}

.image-fluid {
  max-width: 100%;
  padding: 10px 5px;
  height: auto;
}
